
body {
    margin: 0;
    height: 100vh;
    display: flex;
}

#text {
    float: left;
    flex-grow: 100;
    height: 94vh;
    vertical-align: top;
    padding: 1em;
    overflow-y: scroll;
    font-family: sans-serif;
	

}

canvas {

}
