'scopeName': 'source.youclid'
'name': 'Youclid'
'fileTypes': [
  'yc'
]
'patterns': [
  {
    'match': '([^\\\\]|^)(\\[)(.*?)( .*?)?( .*?)?(\\])'
    'captures':
        # This exists because matching a character or newline counts as a match
        '1':
            'name': 'keyword.youclid.nothing'
        '2':
            'name': 'keyword.youclid.bracket'
        '3':
            'name': 'keyword.youclid.type'
        '4':
            'name': 'keyword.youclid.name'
        '5':
            'name': 'keyword.youclid.arguments'
        '6':
            'name': 'keyword.youclid.bracket'
    'name': 'keyword.youclid'
  }
]
